.charity-page-info h1 {
    font-size: 48px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    text-decoration: underline;
    margin-top: 20px;
    margin-bottom: 100px;
    text-align: center;
}

.charity-page-info .container .content-right {
    max-width: 560px;
    margin-left: 70px;
}

.charity-page-info .container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.charity-page-info .content-right h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.charity-page-info .content-right p {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

.help-save-live .form {
    margin: 0 auto;
}
.help-save-live .form .form-description {
    width: 42%;
}

.help-save-live .form .form-description-title {
    font-size: 35px;
    margin-bottom: 50px;
    font-weight: 600;
}

.help-save-live .form .form-description img {
    width: 45px;
    position: relative;
    left: -11px;
}

.help-save-live .form .form-description .description-text {
    line-height: 30px;
}
.help-save-live .form .pay-button {
    color: white;
    text-decoration: none;
    background-color:#FF8833;
    width: 380px;
    height: 55px;
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px;
    border-radius: 50px;
    line-height: 55px;
}

.help-save-live .form .pay-button:hover {
    background-color: rgba(255, 136, 51, 0.8);
}

.help-save-live .form .top-form-part {
    display: flex;
    justify-content: space-between;
}

.help-save-live .form {
    display: block;
    position: relative;
}
.help-save-live .form .separate-line {
    background-color: white;
    height: 3px;
    position: absolute;
    left: 0;
    right: 0;
    top: 340px;
}
.help-save-live .form .bottom-form-part {
    margin-top: 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.charity-section {
    margin-top: 200px;
}
.charity-section h2 {
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 100px;
    text-align: center;
}


/*-----*/
.slide-container .slide-content .card-image {
    position: relative;
    width: 380px;
    height: 265px;
}

.slide-container .slide-content .card-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.charity-page-info .vector-img .vector_green {
    left: -82.03px;
    top: 500px;
    z-index: -1;
}

.charity-section .vector-img .vector_orange {
    position: absolute;
    top: 2100px;
    z-index: -1;
}

