.charity-section .passport {
    background-color: #433C3C;
    width: 1120px;
    height: 500px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.charity-section .passport  img {
    border-radius: 50%;
    width: 340px;
    height: 340px;
    object-fit: cover;
}

.charity-section .passport .pet-info {
    width: 300px;
    font-size: 24px;
}

.charity-section .passport .pet-info .info-block {
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 27px;
}

.charity-section .passport .pet-info .info-block:last-child {
    margin-bottom: 0;
}


.charity-section .passport .pet-info .info-block .key {
    color: #FF8833;
}
.charity-section .passport .pet-info .info-block .value {
    float: right;
    font-style: italic;
}
