.take-animal-info h1{
    font-size: 48px;
    font-weight: 700;
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;
}

.take-animal-info a{
    text-decoration: underline;
}
.take-animal-info h2{
    font-family: 'Open Sans';
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}

.take-animal-info{
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.filtration-params{
    position: relative;
    margin-top: 100px;
    max-width: 1120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filtration-params select, button{
    margin-right: 45px;
}
.filtration-param select, button:last-child {
    margin-right: 0;
}

.filtration-params button{
    color: white;
    height: 56px;
    width: 230px;
    border-radius:30px;
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 18px;
    border: none;
}

.button-search{
    background: #FF8833;
}
.filtration-params select{
    color: white;
    text-align: center;
    background: #433C3C;
    height: 56px;
    width: 230px;
    border-radius: 30px;
    font-family: 'Mulish';
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;

}



